<i 
    type="button" 
    class="fa-solid fa-trash" 
    id="toggleDeleteSkill" 
    (click)="modal.open(content)">
</i>


<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Delete skill</h5>
        <i class="fa-solid fa-xmark" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body">
        <form class="add-form" 
            id="formul" 
            #formDetailUser="ngForm" 
            (ngSubmit)="onSubmit()"
        >
            <p>Are you sure you want to delete this skill?</p>
    
            <div class="modal-footer">
                <button 
                    type="submit"
                    class="btn btn-success"
                    (click)="modal.close()"
                >Delete</button>
                <button
                    class="btn btn-danger"
                    (click)="modal.dismiss()"
                >Back</button>
            </div>
        </form>
    </div>
</ng-template>