<i 
    type="button" 
    class="fa-solid fa-pencil" 
    id="toggleEditExp" 
    (click)="modal.open(content)">
</i>


<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit experience</h5>
        <i class="fa-solid fa-xmark" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body">
        <form class="add-form" 
            id="formul" 
            #formDetailUser="ngForm" 
            (ngSubmit)="onSubmit(formDetailUser)"
        >
            <div class="form-control">
                <label for="job">Job</label>
                <input 
                    type="text" 
                    name="job" 
                    id="job" 
                    placeholder="Job title" 
                    [(ngModel)]="job" 
                />
            </div>
            <div class="form-control">
                <label for="company">Company</label>
                <input 
                    type="text" 
                    name="company" 
                    id="company" 
                    placeholder="Company"
                    [(ngModel)]="company" 
                />
            </div>
            <div class="form-control">
                <label for="ubication">Ubication</label>
                <input 
                    type="text" 
                    name="ubication" 
                    id="ubication" 
                    placeholder="Ubication" 
                    [(ngModel)]="ubication" 
                />
            </div>
            <div class="form-control">
                <label for="start">Start</label>
                <input 
                    type="string" 
                    name="start" 
                    id="start" 
                    placeholder="Start date" 
                    [(ngModel)]="start" 
                />
            </div>
            <div class="form-control">
                <label for="finish">Finish</label>
                <input 
                    type="string" 
                    name="finish" 
                    id="finish" 
                    placeholder="Finish date" 
                    [(ngModel)]="finish" 
                />
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <input 
                    type="string" 
                    name="description" 
                    id="description" 
                    placeholder="Description" 
                    [(ngModel)]="description" 
                />
            </div>
            <div class="modal-footer">
                <button 
                    type="submit" 
                    class="btn btn-success" 
                    (click)="modal.close()"
                >Save</button>
            </div>
        </form>
    </div>
</ng-template>