<i 
    type="button" 
    class="fa-solid fa-pencil" 
    id="toggleEditSkill" 
    (click)="modal.open(content)">
</i>


<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit skill</h5>
        <i class="fa-solid fa-xmark" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body">
        <form class="add-form" 
            id="formul" 
            #formDetailUser="ngForm" 
            (ngSubmit)="onSubmit(formDetailUser)"
        >
            <div class="form-control">
                <label for="name">Name</label>
                <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    placeholder="Name" 
                    [(ngModel)]="name" 
                />
            </div>
            <div class="form-control">
                <label for="percent">Percent</label>
                <input 
                    type="text" 
                    name="percent" 
                    id="percent" 
                    placeholder="Percent"
                    [(ngModel)]="percent" 
                />
            </div>
            <div class="modal-footer">
                <button 
                    type="submit" 
                    class="btn btn-success" 
                    (click)="modal.close()"
                >Save</button>
            </div>
        </form>
    </div>
</ng-template>